In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Workflow of Project
This project utilizes the Data Science Project Life Cycle, which has the following steps:

1. Business Understanding
2. Data Collection
3. Data Preparation
4. Exploratory Data Analysis
5. Modelling
6. Model Evaluation
7. Model Deployment

# Part 1: Business Understanding

### Introduction to concepts of Economic Growth and Productive Employment

* Gross Domestic Product(GDP) as a measure of Economic Growth
> * GDP = value of goods and services produced by the nations economy - value of goods and services used up in production
> * Two measures of GDP will be used in this study, the Contribution_by_GDP and Growth_by_GDP

* Productive Employment
> * Productive Employment is employment yielding sufficient returns to labour, to permit a worker and his/her dependents a level of consumption above the poverty line
> * The International Labour Organization (ILO) has set the International Poverty Line to USD 2 (USD 1.90) a day; hence any person earning below USD 2 a day is considered poor, a group the ILO refers to as the 'Working Poor'
> * The working poor in this case will be the people earning below KSh 10,000 a month (Wage_bracket_0_to_9999)

### --------------------------------------------------- End of Business Understanding Section (Part 1)----------------------------------------

# Part 2: Data Collection

---



---



---


### Perform Data Extraction from PDF Files using camelot-py Module

### Prerequisites


* Installing dependecies for camelot-py, which include GhostScript and TKinter, on local machine
* Installing camelot-py module
* Testing camelot-py module
* Downloading yearly Statistical Abstract files from Kenya National Bureau of Statitics (KNBS)

#### Sources of data (PDF files, courtesy of KNBS)


* Statistical Abstract 2013
* Statistical Abstract 2014
* Statistical Abstract 2015
* Statistical Abstract 2017
* Statistical Abstract 2019

To extract data from the pdf files, I connect to local runtime, which has camelot-py module installed; to use the module for extraction

### Workflow
1. Set up notebook server to allow connection to local runtime; using the command provided in the next section
2. Look up for desired tables in pdf files, noting page numbers
3. Extract tables from the pdf files using the page numbers
4. Export tables to csv files, which will then be used in the data preparation section

#### Command for starting notebook server

jupyter notebook in command prompt or in terminal

import camelot module

In [2]:
import camelot

### Extracting tables from the given datasets

Statistical Abstract 2013

In [3]:
# Statistical Abstract 2013
pathPdf = 'D:/Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/PDFs/PDFs/STATISTICAL ABSTRACT 2013.pdf'
pathDataset = "D:/Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/"
tables = camelot.read_pdf(pathPdf, pages='285', flavor='stream', strip_text='*+')

numOfTables=tables.n
print('Number of tables: ' + str(numOfTables))

#Parsing Report
print('PARSING REPORT')
print(tables[0].parsing_report)

Number of tables: 1
PARSING REPORT
{'accuracy': 95.47, 'whitespace': 11.79, 'order': 1, 'page': 285}

In [4]:
#saving table from pdf to csv
tables[0].to_csv(pathDataset + '/Wage Employment 2011.csv')

Statistical Abstract 2014

In [5]:
pathpdf = "D:/Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/PDFs/PDFs/STATISTICAL ABSTRACT 2014.pdf"
tables = camelot.read_pdf(pathpdf,pages = "74,77,265,266,267,268", flavor="stream", strip_text ="*+\n" )

nOfTables = tables.n
print("Number of tables: " + str(nOfTables))

#parsing Report
print("PARSING REPORT")

for i in range(nOfTables):
    print(tables[i].parsing_report)

Number of tables: 6
PARSING REPORT
{'accuracy': 99.36, 'whitespace': 8.12, 'order': 1, 'page': 74}
{'accuracy': 99.63, 'whitespace': 10.68, 'order': 1, 'page': 77}
{'accuracy': 91.57, 'whitespace': 31.06, 'order': 1, 'page': 265}
{'accuracy': 97.76, 'whitespace': 14.48, 'order': 1, 'page': 266}
{'accuracy': 99.17, 'whitespace': 14.48, 'order': 1, 'page': 267}
{'accuracy': 99.65, 'whitespace': 18.93, 'order': 1, 'page': 268}

In [6]:
#Exporting Tables to CSV Files
tables[0].to_csv(pathDataset + '/Contribution to GDP by Percent 2009-2013.csv')
tables[1].to_csv(pathDataset + '/Growth  of GDP by Activity 2009-2013.csv')
tables[2].to_csv(pathDataset + '/Wage Employment 2010-2013.csv')
tables[3].to_csv(pathDataset + '/Wage Employment 2012.csv')
tables[4].to_csv(pathDataset + '/Wage Employment 2013.csv')
tables[5].to_csv(pathDataset + '/Wage Employment by Sex and Income 2010-2013.csv')

Statistical Abstract 2017

In [7]:
# Statistical Abstract 2017
pathPdf = 'D:/Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/PDFs/PDFs/STATISTICAL ABSTRACT 2017.pdf'
tables = camelot.read_pdf(pathPdf, pages='101,102', flavor='stream', strip_text='*+\n')

numOfTables=tables.n
print('Number of tables: ' + str(numOfTables))

#Parsing Report
print('PARSING REPORT')
i=0
while i < numOfTables:
    print(tables[i].parsing_report)
    i+=1

Number of tables: 4
PARSING REPORT
{'accuracy': 92.98, 'whitespace': 24.84, 'order': 1, 'page': 101}
{'accuracy': 99.79, 'whitespace': 25.0, 'order': 2, 'page': 101}
{'accuracy': 92.98, 'whitespace': 24.84, 'order': 1, 'page': 102}
{'accuracy': 99.79, 'whitespace': 25.0, 'order': 2, 'page': 102}

In [8]:
tables[1].to_csv(pathDataset + '/Wage Employment 2015.csv')
tables[3].to_csv(pathDataset + '/Wage Employment 2016.csv')

Statistical Abstract 2019

In [9]:
# Statistical Abstract 2019
pathPdf = 'D:/Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/PDFs/PDFs/Statistical Abstract 2019.pdf'
tables = camelot.read_pdf(pathPdf, pages='30,32,63,64,65,66', flavor='stream', strip_text='*+\n')

numOfTables=tables.n
print('Number of tables: ' + str(numOfTables))

#Parsing Report
print('PARSING REPORT')
i=0
for i in range(numOfTables):
    print(tables[i].parsing_report)

Number of tables: 6
PARSING REPORT
{'accuracy': 99.55, 'whitespace': 9.21, 'order': 1, 'page': 30}
{'accuracy': 99.62, 'whitespace': 8.97, 'order': 1, 'page': 32}
{'accuracy': 88.77, 'whitespace': 29.29, 'order': 1, 'page': 63}
{'accuracy': 99.94, 'whitespace': 22.76, 'order': 1, 'page': 64}
{'accuracy': 99.95, 'whitespace': 22.67, 'order': 1, 'page': 65}
{'accuracy': 99.44, 'whitespace': 19.71, 'order': 1, 'page': 66}

In [10]:
#Exporting Tables to CSV Files
tables[0].to_csv(pathDataset + '/Contribution to GDP by Percent 2012-2018.csv')
tables[1].to_csv(pathDataset + '/Growth  of GDP by Activity 2012-2018.csv')
tables[2].to_csv(pathDataset + '/Wage Employment 2014-2018.csv')
tables[3].to_csv(pathDataset + '/Wage Employment 2017.csv')
tables[4].to_csv(pathDataset + '/Wage Employment 2018.csv')
tables[5].to_csv(pathDataset + '/Wage Employment by Sex and Income 2014-2018.csv')

After performing data collection, we can now disconnect local runtime and switch to hosted runtime for the next sections

### --------------------------------------------------- End of Data Collection Section (Part 2)--------------------------------------------

# Part 3: Data Preparation

---

### Prerequisites
1. Preparing datasets using Microsoft Excel
2. Connection to hosted runtime
3. Migrating prepared datasets from local disk to Google Drive
4. Mounting Google Drive

### Workflow

1.   Joining yearly datasets to a single dataset spanning all the years (2011 -2018)
2.   Data Pre-processing

### Mounting Google Drive

In [11]:
import gdown

# Replace 'your_file_id' with the actual file ID from your Google Drive shareable link
file_id = 'your_file_id'
url = f'https://drive.google.com/uc?id={file_id}'

# Replace 'your_destination_path' with the path where you want to save the file
output = 'your_destination_path'

gdown.download(url, output, quiet=False)

Access denied with the following error:

 	Cannot retrieve the public link of the file. You may need to change
	the permission to 'Anyone with the link', or have had many accesses.

You may still be able to access the file from the browser:

	 https://drive.google.com/uc?id=your_file_id

### Importing all packages needed

In [12]:
#import libraries
import sys 
import numpy as np # linear algebra
from scipy.stats import randint
import pandas as pd # data processing, CSV file I/O 
import matplotlib.pyplot as plt # this is used for the plot the graph 
import seaborn as sns # used for plot interactive graph.

#### 3.1 Joining yearly datasets to a single dataset spanning all the years

In [13]:
df2011 = pd.read_csv(r"D:\Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/PROJECT 1 FILES/Wage_Employment_and_GDP_2011.csv")
df2012 = pd.read_csv(r"D:\Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/PROJECT 1 FILES/Wage_Employment_and_GDP_2012.csv")
df2013 = pd.read_csv(r"D:\Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/PROJECT 1 FILES/Wage_Employment_and_GDP_2013.csv")
df2014 = pd.read_csv(r"D:\Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/PROJECT 1 FILES/Wage_Employment_and_GDP_2014.csv")
df2015 = pd.read_csv(r"D:\Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/PROJECT 1 FILES/Wage_Employment_and_GDP_2015.csv")
df2016 = pd.read_csv(r"D:\Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/PROJECT 1 FILES/Wage_Employment_and_GDP_2016.csv")
df2017 = pd.read_csv(r"D:\Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/PROJECT 1 FILES/Wage_Employment_and_GDP_2017.csv")
df2018 = pd.read_csv(r"D:\Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/PROJECT 1 FILES/Wage_Employment_and_GDP_2018.csv")

Checking shape of Yearly dataframes

In [14]:
list_df = [df2011,df2012,df2013,df2014,df2015,df2016,df2017,df2018]

for i in list_df:
    print(i.shape)

(21, 13)
(21, 13)
(21, 13)
(21, 13)
(21, 13)
(21, 13)
(21, 13)
(21, 13)

In [15]:
df_list = [df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018]
df = pd.concat(df_list,ignore_index=True,sort=False)
df.to_csv(pathDataset + 'Wage_Employment_and_GDP_2011_to_2018.csv')

### 3.2 Data Preprocessing

In [16]:
df = pd.read_csv(r"D:\Hackathon\Hackathon (16) - Python Project\Hackathon (16) - Python Project\CSV FILES\Wage_Employment_and_GDP_2011_to_2018.csv")
df.head(10)

,Unnamed: 0,Industry,Year,Contribution_by_Gdp,Growth_of_GDP,"0 - 9,999","10,000 - 14999","15,000 - 19999","20,000 - 24999","25,000 - 29999","30,000 - 49999","50,000 - 99999",100000+,TOTAL
0,0,"Agriculture, Forestry And Fishing",2011,23.8,1.5,"12,141","36,238","111,549","100,240","37,712","23,976","12,935","6,631","341,422"
1,1,Mining And Quarrying,2011,0.7,7.1,59,101,944,"1,586","1,965","2,312","1,752",13,"8,732"
2,2,Manufacturing,2011,9.6,3.4,632,"1,723","17,205","50,949","54,427","76,329","70,040","5,580","276,885"
3,3,"Electricity, Gas, Steam And Air Conditioning S...",2011,0.4,-4.4,-,101,45,"3,229",690,"1,413","6,830",30,"12,338"
4,4,"Water Supply; Sewerage, Waste Management And R...",2011,0.7,3.0,-,-,-,"3,036","1,983","1,970",818,83,"7,890"
5,5,Construction,2011,4.1,4.3,-,714,"2,465","17,669","16,531","35,028","32,245","2,593","107,245"
6,6,Wholesale And Retail Trade; Repair Of Motor Ve...,2011,10.5,7.3,56,"2,179","4,363","20,215","25,842","52,176","57,676","8,174","170,681"
7,7,Transportation And Storage,2011,7.8,5.4,821,386,841,"11,032","16,544","22,798","22,740","1,296","76,458"
8,8,Accommodation And Food Service Activities,2011,1.7,4.9,318,269,"1,245","9,485","12,600","27,588","17,001","2,303","70,809"
9,9,Information And Communication,2011,2.2,4.3,48,49,105,"2,684","8,438","41,299","24,220","1,389","78,232"

In [17]:
df.columns

Index(['Unnamed: 0', 'Industry', 'Year', 'Contribution_by_Gdp',
       'Growth_of_GDP', '0 - 9,999', '10,000 - 14999', '15,000 - 19999',
       '20,000 - 24999', '25,000 - 29999', '30,000 - 49999', '50,000 - 99999',
       '100000+', 'TOTAL'],
      dtype='object')

In [18]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [19]:
df.head()

,Industry,Year,Contribution_by_Gdp,Growth_of_GDP,"0 - 9,999","10,000 - 14999","15,000 - 19999","20,000 - 24999","25,000 - 29999","30,000 - 49999","50,000 - 99999",100000+,TOTAL
0,"Agriculture, Forestry And Fishing",2011,23.8,1.5,"12,141","36,238","111,549","100,240","37,712","23,976","12,935","6,631","341,422"
1,Mining And Quarrying,2011,0.7,7.1,59,101,944,"1,586","1,965","2,312","1,752",13,"8,732"
2,Manufacturing,2011,9.6,3.4,632,"1,723","17,205","50,949","54,427","76,329","70,040","5,580","276,885"
3,"Electricity, Gas, Steam And Air Conditioning S...",2011,0.4,-4.4,-,101,45,"3,229",690,"1,413","6,830",30,"12,338"
4,"Water Supply; Sewerage, Waste Management And R...",2011,0.7,3.0,-,-,-,"3,036","1,983","1,970",818,83,"7,890"

### Renaming Columns

In [20]:
df.columns = ['Industry', 'Year', 'Contribution_to_Gdp',
       'Growth_of_GDP', 'Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999', 'Wage_bracket_15000_to_19999',
       'Wage_bracket_20000_to_24999', 'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999', 'Wage_bracket_50000_to_99999',
       'Wage_bracket_100000_plus', 'TOTAL']

In [21]:
df.head()

,Industry,Year,Contribution_to_Gdp,Growth_of_GDP,Wage_bracket_0_to_9999,Wage_bracket_10000_to_14999,Wage_bracket_15000_to_19999,Wage_bracket_20000_to_24999,Wage_bracket_25000_to_29999,Wage_bracket_30000_to_49999,Wage_bracket_50000_to_99999,Wage_bracket_100000_plus,TOTAL
0,"Agriculture, Forestry And Fishing",2011,23.8,1.5,"12,141","36,238","111,549","100,240","37,712","23,976","12,935","6,631","341,422"
1,Mining And Quarrying,2011,0.7,7.1,59,101,944,"1,586","1,965","2,312","1,752",13,"8,732"
2,Manufacturing,2011,9.6,3.4,632,"1,723","17,205","50,949","54,427","76,329","70,040","5,580","276,885"
3,"Electricity, Gas, Steam And Air Conditioning S...",2011,0.4,-4.4,-,101,45,"3,229",690,"1,413","6,830",30,"12,338"
4,"Water Supply; Sewerage, Waste Management And R...",2011,0.7,3.0,-,-,-,"3,036","1,983","1,970",818,83,"7,890"

In [22]:
#no of unique industry columns
df.Industry.nunique()

21

There are 21 unique columns in the compiled dataset as shown by the result above, which is as expected

#### Removing special characters from Wage_bracket columns

In [23]:
cols = ['Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999', 'Wage_bracket_15000_to_19999',
       'Wage_bracket_20000_to_24999', 'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999', 'Wage_bracket_50000_to_99999',
       'Wage_bracket_100000_plus', 'TOTAL']


#cast to string
df[cols] = df[cols].astype(str)

#Removing special characters
df[cols] = df[cols].replace({'\\$': '', ',': '', '-': ''}, regex=True)

#path to dataset
path = "D:/Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/"
df.to_csv(path + 'Wage_Employment_and_GDP_2011_to_2018_Final.csv')

In [24]:
df.head()

,Industry,Year,Contribution_to_Gdp,Growth_of_GDP,Wage_bracket_0_to_9999,Wage_bracket_10000_to_14999,Wage_bracket_15000_to_19999,Wage_bracket_20000_to_24999,Wage_bracket_25000_to_29999,Wage_bracket_30000_to_49999,Wage_bracket_50000_to_99999,Wage_bracket_100000_plus,TOTAL
0,"Agriculture, Forestry And Fishing",2011,23.8,1.5,12141,36238,111549,100240,37712,23976,12935,6631,341422
1,Mining And Quarrying,2011,0.7,7.1,59,101,944,1586,1965,2312,1752,13,8732
2,Manufacturing,2011,9.6,3.4,632,1723,17205,50949,54427,76329,70040,5580,276885
3,"Electricity, Gas, Steam And Air Conditioning S...",2011,0.4,-4.4,,101,45,3229,690,1413,6830,30,12338
4,"Water Supply; Sewerage, Waste Management And R...",2011,0.7,3.0,,,,3036,1983,1970,818,83,7890

In [25]:
pathDataset = "D:/Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/Wage_Employment_and_GDP_2011_to_2018_Final.csv"
df = pd.read_csv(pathDataset,parse_dates=["Year"],index_col=["Year"],na_values=["nan","?","-"])
df

,Unnamed: 0,Industry,Contribution_to_Gdp,Growth_of_GDP,Wage_bracket_0_to_9999,Wage_bracket_10000_to_14999,Wage_bracket_15000_to_19999,Wage_bracket_20000_to_24999,Wage_bracket_25000_to_29999,Wage_bracket_30000_to_49999,Wage_bracket_50000_to_99999,Wage_bracket_100000_plus,TOTAL
Year,,,,,,,,,,,,,
2011-01-01,0,"Agriculture, Forestry And Fishing",23.8,1.5,12141.0,36238.0,111549.0,100240.0,37712.0,23976.0,12935.0,6631.0,341422.0
2011-01-01,1,Mining And Quarrying,0.7,7.1,59.0,101.0,944.0,1586.0,1965.0,2312.0,1752.0,13.0,8732.0
2011-01-01,2,Manufacturing,9.6,3.4,632.0,1723.0,17205.0,50949.0,54427.0,76329.0,70040.0,5580.0,276885.0
2011-01-01,3,"Electricity, Gas, Steam And Air Conditioning S...",0.4,-4.4,NaN,101.0,45.0,3229.0,690.0,1413.0,6830.0,30.0,12338.0
2011-01-01,4,"Water Supply; Sewerage, Waste Management And R...",0.7,3.0,NaN,NaN,NaN,3036.0,1983.0,1970.0,818.0,83.0,7890.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-01,163,Human Health And Social Work Activities,1.5,4.5,NaN,960.0,6108.0,17810.0,36788.0,65229.0,17572.0,4287.0,148755.0
2018-01-01,164,"Arts, Entertainment And Recreation",0.1,6.4,NaN,46.0,857.0,1446.0,2277.0,1188.0,878.0,550.0,7243.0
2018-01-01,165,Other Service Activities,0.6,6.7,NaN,552.0,1735.0,4490.0,11270.0,11251.0,6312.0,722.0,36332.0
2018-01-01,166,Activities Of Households As Employers; Undiffe...,0.4,1.6,NaN,316.0,911.0,17245.0,15082.0,53200.0,29083.0,NaN,NaN
2018-01-01,167,Activities Of Extraterritorial Organizations A...,-1.9,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115836.0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 168 entries, 2011-01-01 to 2018-01-01
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   168 non-null    int64
 1   Industry                     168 non-null    object
 2   Contribution_to_Gdp          166 non-null    float64
 3   Growth_of_GDP                161 non-null    float64
 4   Wage_bracket_0_to_9999       96 non-null     float64
 5   Wage_bracket_10000_to_14999  144 non-null    float64
 6   Wage_bracket_15000_to_19999  152 non-null    float64
 7   Wage_bracket_20000_to_24999  167 non-null    float64
 8   Wage_bracket_25000_to_29999  167 non-null    float64
 9   Wage_bracket_30000_to_49999  167 non-null    float64
 10  Wage_bracket_50000_to_99999  167 non-null    float64
 11  Wage_bracket_100000_plus     154 non-null    float64
 12  TOTAL                        167 non-null    float64
dtypes: float64(11), int64(1), object(1)
memory usage: 18.4+ KB

In [27]:
df.dtypes

Unnamed: 0                       int64
Industry                        object
Contribution_to_Gdp            float64
Growth_of_GDP                  float64
Wage_bracket_0_to_9999         float64
Wage_bracket_10000_to_14999    float64
Wage_bracket_15000_to_19999    float64
Wage_bracket_20000_to_24999    float64
Wage_bracket_25000_to_29999    float64
Wage_bracket_30000_to_49999    float64
Wage_bracket_50000_to_99999    float64
Wage_bracket_100000_plus       float64
TOTAL                          float64
dtype: object

In [28]:
df.shape

(168, 13)

In [29]:
df.columns

Index(['Unnamed: 0', 'Industry', 'Contribution_to_Gdp', 'Growth_of_GDP',
       'Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus', 'TOTAL'],
      dtype='object')

### Dealing with nan values -- filling nan with mean in the columns

In [30]:
#finding all columns that have nan values
nan_list = []
for j in range(2,13):
    if not df.iloc[:,j].notnull().all():
        nan_list.append(j)
nan_list

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [31]:
cols = ['Contribution_to_Gdp', 'Growth_of_GDP',
       'Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus', 'TOTAL']
    
for i in cols:
    df[i] = df[i].fillna(df[i].mean())

In [32]:
df.isnull().sum()

Unnamed: 0                     0
Industry                       0
Contribution_to_Gdp            0
Growth_of_GDP                  0
Wage_bracket_0_to_9999         0
Wage_bracket_10000_to_14999    0
Wage_bracket_15000_to_19999    0
Wage_bracket_20000_to_24999    0
Wage_bracket_25000_to_29999    0
Wage_bracket_30000_to_49999    0
Wage_bracket_50000_to_99999    0
Wage_bracket_100000_plus       0
TOTAL                          0
dtype: int64

### Checking data types of columns

In [33]:
df.dtypes

Unnamed: 0                       int64
Industry                        object
Contribution_to_Gdp            float64
Growth_of_GDP                  float64
Wage_bracket_0_to_9999         float64
Wage_bracket_10000_to_14999    float64
Wage_bracket_15000_to_19999    float64
Wage_bracket_20000_to_24999    float64
Wage_bracket_25000_to_29999    float64
Wage_bracket_30000_to_49999    float64
Wage_bracket_50000_to_99999    float64
Wage_bracket_100000_plus       float64
TOTAL                          float64
dtype: object

#### Casting Wage_bracket_ columns from float64 to int64

In [34]:
cols = ['Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus', 'TOTAL']

#casting to int
df[cols] = df[cols].astype(int)

In [37]:
df.dtypes

Unnamed: 0                       int64
Industry                        object
Contribution_to_Gdp            float64
Growth_of_GDP                  float64
Wage_bracket_0_to_9999           int32
Wage_bracket_10000_to_14999      int32
Wage_bracket_15000_to_19999      int32
Wage_bracket_20000_to_24999      int32
Wage_bracket_25000_to_29999      int32
Wage_bracket_30000_to_49999      int32
Wage_bracket_50000_to_99999      int32
Wage_bracket_100000_plus         int32
TOTAL                          float64
dtype: object

In [36]:
df["TOTAL"] = df["TOTAL"].astype(float)

In [38]:
df.describe()

,Unnamed: 0,Contribution_to_Gdp,Growth_of_GDP,Wage_bracket_0_to_9999,Wage_bracket_10000_to_14999,Wage_bracket_15000_to_19999,Wage_bracket_20000_to_24999,Wage_bracket_25000_to_29999,Wage_bracket_30000_to_49999,Wage_bracket_50000_to_99999,Wage_bracket_100000_plus,TOTAL
count,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000
mean,83.500000,4.403012,5.354037,1680.553571,2498.755952,9143.380952,17074.642857,20948.005952,34258.625000,28868.702381,4186.000000,116453.363095
std,48.641546,6.463415,4.126909,2308.034773,5485.628377,19421.986836,22994.028045,27002.516428,40714.966114,38148.329144,6741.704946,127518.568458
min,0.000000,-2.800000,-16.700000,23.000000,35.000000,45.000000,195.000000,71.000000,236.000000,275.000000,13.000000,1009.000000
25%,41.750000,0.800000,3.000000,406.000000,249.500000,800.000000,3144.750000,2233.000000,2380.750000,2009.750000,540.000000,13902.250000
50%,83.500000,1.700000,5.354037,1680.000000,889.000000,1773.000000,8038.000000,14603.000000,22798.000000,18818.000000,2585.000000,76407.500000
75%,125.250000,6.725000,7.025000,1680.000000,2498.000000,9143.000000,21628.750000,29698.000000,50732.000000,36935.250000,5052.750000,164204.250000
max,167.000000,34.800000,19.000000,13312.000000,36797.000000,113270.000000,101786.000000,140233.000000,265031.000000,282385.000000,56221.000000,576831.000000

In [39]:
df.columns

Index(['Unnamed: 0', 'Industry', 'Contribution_to_Gdp', 'Growth_of_GDP',
       'Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus', 'TOTAL'],
      dtype='object')

#### Adding new column for total_number_in_wage_employment
To accomodate changes made in wage_bracket columns, we need to have a column for the new total number of people in wage_bracket columns

In [41]:
col_list = list(df)
unwanted = ['Unnamed: 0','Industry','Contribution_to_Gdp','Growth_of_GDP','TOTAL']


wage_bracket_cols = []
for i in col_list:
    if i not in unwanted:
        wage_bracket_cols.append(i)
    
wage_bracket_cols

['Wage_bracket_0_to_9999',
 'Wage_bracket_10000_to_14999',
 'Wage_bracket_15000_to_19999',
 'Wage_bracket_20000_to_24999',
 'Wage_bracket_25000_to_29999',
 'Wage_bracket_30000_to_49999',
 'Wage_bracket_50000_to_99999',
 'Wage_bracket_100000_plus']

In [47]:
#Adding new column for total, which is a sum of rows of wage_bracket_cols
df["Total_number_in_wage_employment"] = df[wage_bracket_cols].sum(axis=1)

In [48]:
df.head()

,Unnamed: 0,Industry,Contribution_to_Gdp,Growth_of_GDP,Wage_bracket_0_to_9999,Wage_bracket_10000_to_14999,Wage_bracket_15000_to_19999,Wage_bracket_20000_to_24999,Wage_bracket_25000_to_29999,Wage_bracket_30000_to_49999,Wage_bracket_50000_to_99999,Wage_bracket_100000_plus,TOTAL,Total_number_in_wage_employment
Year,,,,,,,,,,,,,,
2011-01-01,0,"Agriculture, Forestry And Fishing",23.8,1.5,12141,36238,111549,100240,37712,23976,12935,6631,341422.0,341422
2011-01-01,1,Mining And Quarrying,0.7,7.1,59,101,944,1586,1965,2312,1752,13,8732.0,8732
2011-01-01,2,Manufacturing,9.6,3.4,632,1723,17205,50949,54427,76329,70040,5580,276885.0,276885
2011-01-01,3,"Electricity, Gas, Steam And Air Conditioning S...",0.4,-4.4,1680,101,45,3229,690,1413,6830,30,12338.0,14018
2011-01-01,4,"Water Supply; Sewerage, Waste Management And R...",0.7,3.0,1680,2498,9143,3036,1983,1970,818,83,7890.0,21211

### Deleting old total column, saving dataframe to csv (updated dataset)

In [49]:
df.drop(columns="TOTAL",inplace=True,axis=1)

In [51]:
df.head()

,Unnamed: 0,Industry,Contribution_to_Gdp,Growth_of_GDP,Wage_bracket_0_to_9999,Wage_bracket_10000_to_14999,Wage_bracket_15000_to_19999,Wage_bracket_20000_to_24999,Wage_bracket_25000_to_29999,Wage_bracket_30000_to_49999,Wage_bracket_50000_to_99999,Wage_bracket_100000_plus,Total_number_in_wage_employment
Year,,,,,,,,,,,,,
2011-01-01,0,"Agriculture, Forestry And Fishing",23.8,1.5,12141,36238,111549,100240,37712,23976,12935,6631,341422
2011-01-01,1,Mining And Quarrying,0.7,7.1,59,101,944,1586,1965,2312,1752,13,8732
2011-01-01,2,Manufacturing,9.6,3.4,632,1723,17205,50949,54427,76329,70040,5580,276885
2011-01-01,3,"Electricity, Gas, Steam And Air Conditioning S...",0.4,-4.4,1680,101,45,3229,690,1413,6830,30,14018
2011-01-01,4,"Water Supply; Sewerage, Waste Management And R...",0.7,3.0,1680,2498,9143,3036,1983,1970,818,83,21211

In [53]:
#saving dataset 
path   =  "D:/Hackathon/Hackathon (16) - Python Project/Hackathon (16) - Python Project/CSV FILES/"
df.to_csv(path + 'Wage_Employment_and_GDP_2011_to_2018_Updated.csv')

### ---------------------------------------------------- End of Data Preparation Section (Part 3) -----------------------


---

# Part 4: Exploratory Data Analysis

---

### Workflow
1. Reading updated dataset
2. Performing data exploration

#### 1. Reading updated dataset

In [59]:
pathDataset = "D:/GITHUB/Predictive-Analysis-of-Productive-Employment-based-on-Economic-Growth/Files/CSV Files/Wage_Employment_and_GDP_2011_to_2018_Updated.csv"
df = pd.read_csv(pathDataset,parse_dates=["Year"],index_col=["Year"])
df.head()

,Unnamed: 0,Industry,Contribution_to_Gdp,Growth_of_GDP,Wage_bracket_0_to_9999,Wage_bracket_10000_to_14999,Wage_bracket_15000_to_19999,Wage_bracket_20000_to_24999,Wage_bracket_25000_to_29999,Wage_bracket_30000_to_49999,Wage_bracket_50000_to_99999,Wage_bracket_100000_plus,Total_number_in_wage_employment
Year,,,,,,,,,,,,,
2011-01-01,0,"Agriculture, Forestry And Fishing",23.8,1.5,12141,36238,111549,100240,37712,23976,12935,6631,341422
2011-01-01,1,Mining And Quarrying,0.7,7.1,59,101,944,1586,1965,2312,1752,13,8732
2011-01-01,2,Manufacturing,9.6,3.4,632,1723,17205,50949,54427,76329,70040,5580,276885
2011-01-01,3,"Electricity, Gas, Steam And Air Conditioning S...",0.4,-4.4,1680,101,45,3229,690,1413,6830,30,14018
2011-01-01,4,"Water Supply; Sewerage, Waste Management And R...",0.7,3.0,1680,2498,9143,3036,1983,1970,818,83,21211

In [60]:
#checking null values
df.isnull().sum()

Unnamed: 0                         0
Industry                           0
Contribution_to_Gdp                0
Growth_of_GDP                      0
Wage_bracket_0_to_9999             0
Wage_bracket_10000_to_14999        0
Wage_bracket_15000_to_19999        0
Wage_bracket_20000_to_24999        0
Wage_bracket_25000_to_29999        0
Wage_bracket_30000_to_49999        0
Wage_bracket_50000_to_99999        0
Wage_bracket_100000_plus           0
Total_number_in_wage_employment    0
dtype: int64

In [61]:
df.describe()

,Unnamed: 0,Contribution_to_Gdp,Growth_of_GDP,Wage_bracket_0_to_9999,Wage_bracket_10000_to_14999,Wage_bracket_15000_to_19999,Wage_bracket_20000_to_24999,Wage_bracket_25000_to_29999,Wage_bracket_30000_to_49999,Wage_bracket_50000_to_99999,Wage_bracket_100000_plus,Total_number_in_wage_employment
count,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000
mean,83.500000,4.403012,5.354037,1680.553571,2498.755952,9143.380952,17074.642857,20948.005952,34258.625000,28868.702381,4186.000000,118658.666667
std,48.641546,6.463415,4.126909,2308.034773,5485.628377,19421.986836,22994.028045,27002.516428,40714.966114,38148.329144,6741.704946,126191.119148
min,0.000000,-2.800000,-16.700000,23.000000,35.000000,45.000000,195.000000,71.000000,236.000000,275.000000,13.000000,2328.000000
25%,41.750000,0.800000,3.000000,406.000000,249.500000,800.000000,3144.750000,2233.000000,2380.750000,2009.750000,540.000000,19352.500000
50%,83.500000,1.700000,5.354037,1680.000000,889.000000,1773.000000,8038.000000,14603.000000,22798.000000,18818.000000,2585.000000,77797.500000
75%,125.250000,6.725000,7.025000,1680.000000,2498.000000,9143.000000,21628.750000,29698.000000,50732.000000,36935.250000,5052.750000,165884.000000
max,167.000000,34.800000,19.000000,13312.000000,36797.000000,113270.000000,101786.000000,140233.000000,265031.000000,282385.000000,56221.000000,576831.000000

In [ ]:
#Resampling the sum of Contribution_to_GDP by Year
df.Contribution